@page
@model RecruitCatSapkotti.Pages.Candidates.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of the Best Candidates</h1>

<p>
    <a asp-page="Create">Add new candidate</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].TargetSalary)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].YearsOfExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].UniversityCgpa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Candidate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetSalary)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsOfExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityCgpa)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
