@page
@model RecruitCatSapkotti.Pages.JobTitles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>View all Job Titles here!!</h1>

<p>
    <a asp-page="Create">Add New Job Title</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].MinimumSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].MaximumSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].AllowsRemote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobTitle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowsRemote)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
