@page
@model RecruitCatSapkotti.Pages.Companys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Companies</h1>

<p>
    <a asp-page="Create">Add a New Company</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Industry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].MinimumSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].MaximumSalary)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Company[0].CompanyDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Company) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Industry.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumSalary)
            </td>
            
            
            <td>
                @Html.DisplayFor(modelItem => item.CompanyDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
